.main-area-container {
    padding-left: 2%; /* xl:px-6 */
    padding-right: 2%;
    padding-top: 2%; /* pt-[41px] */
    margin-top: 93px;
}
.user-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.image-class {
    width: 15%;
    height:40%;
}
.button-container {
    height: 99%;
    width: 39%;
    top: 18px;
    border-width: 1px;
    border-radius: 5%;
    border-color: #718096;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 640px) {
    .custom-container {
      padding-top: 11px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 20px;
    }
  }

@media (max-width: 480px) {
    .user-images {
      display: none;
    }
  }

  .text-class {
    font-size: 1rem;
    font-weight: 500;
    color: #718096;
    padding-left: 4px;
    padding-right: 2px;
  }

  @media (min-width: 1024px) {
    .custom-class {
      padding-right: 8px;
    }
  }

  @media (min-width: 640px) {
    .custom-class {
      font-size: 1rem;
      padding-left: 6px;
    }
  }
.project-name-heading {
    font-size: 48px;
}
.resp-img-class {
padding: 8px;
}
@media (max-width: 480px) {
    .project-name-heading{
      font-size: 25px;
    }
    .resp-img-class {
        display: none;
    }
  }
